<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Birdboard</title>
    <style>
        h1,h2,h3,h4, .breadcrump-item a {
           color: #B0B2B4;
        }
    </style>
</head>
<body style="background-color: #F5F6F9;">
    <header>
        <!-- Navbar -->
        <nav class="navbar bg-white">
            <div class="container">

                <!-- Logo -->
                <div class="brand">
                    <a href="" class="brand-link text-dark text-decoration-none font-weight-bold">
                        <img class="brand-img mr-2" src="https://placeimg.com/35/35/any" alt="Birdboard">Birdboard
                    </a>
                </div><!-- /End brand -->

                <!-- Auth -->
                <div class="auth">
                    <div class="dropdown">
                        <a class="btn btn-sm btn-secondary dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownAuth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connection</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownAuth" style="font-size: .85rem;">
                            <!-- Login -->
                            <a href="" class="dropdown-item login">Login</a>
                            <!-- Register -->
                            <a href="" class="dropdown-item register">Register</a>
                        </div>
                    </div>
                </div><!-- /End auth -->

                <!-- User connected-->
                <div class="user d-none">
                    <div class="dropdown">
                        <a class="dropdown-toggle user-link" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://placeimg.com/35/35/any" alt="User name" class="user-img">
                            <span class="user-name">Sinigur Artiom</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownUser">
                            <a href="" class="dropdown-item logout">Logout</a>
                        </div>
                    </div>
                </div><!-- /End user -->

            </div><!-- /End container -->
        </nav><!-- /End navbar -->
    </header>

    <!-- Main content -->
    <main>
        <div class="container">
            <div class="row">

                <!-- Main content -->
                <div class="main-content col-12 col-md-9 mb-4">
                    <!-- Heading -->
                    <div class="heading my-4">
                        <h1 class="h5">My Projects</h1>
                    </div>

                    <!-- Projects -->
                    <div class="projects">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                <div class="card" style="font-size: .85rem; border-top: 4px solid #007BFF">
                                    <div class="card-body">
                                        <h2 class="card-title h6 text-capitalize"><a href="">House move</a></h2>
                                        <p class="card-text text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    </div>
                                </div><!-- /End card -->
                            </div>
                        </div>
                    </div><!-- /End projects -->
                </div><!-- /End main-content -->

                <!-- Latest updates -->
                <aside class="latest-updates col-12 col-md-3 bg-white pt-4 mb-4">
                    <h3 class="latest-updates-title h5">Latest Updates</h3>

                    <ul class="latest-updates-list list-unstyled" style="font-size: .85rem">
                        <li class="latest-updates-item"><a href="" class="py-1 d-block text-black-50">Task 1</a></li>
                        <li class="latest-updates-item"><a href="" class="py-1 d-block text-black-50">Task 2</a></li>
                        <li class="latest-updates-item"><a href="" class="py-1 d-block text-black-50">Task 3</a></li>
                    </ul>
                </aside><!-- /End latest-update -->

            </div>
        </div><!-- /End container -->
    </main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
